[submodule "libs/bullet3"]
	path = libs/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glew"]
	path = libs/glew
	url = https://github.com/nigels-com/glew.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
